<br><br><br>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h3 class="card-title">Please log in below</h3><br><br>
    <%= form_tag login_path do %>
        <b><%= label_tag :username %></b><br>
        <%= text_field_tag :username %>
        <br><br>
        <b><%= label_tag :password %></b><br>
        <%= password_field_tag :password %>
        <br><br>
        <input type="submit" class="btn btn-primary" value="Log In">
    <% end %>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>