<p>Edit for <%=@user.username%></p>

<%=render partial: "shared/errors", locals: {user_post_errors: @user} %>

<%= form_for @user do |f| %>

    <%= render partial: "form", locals: {field: f}%>
    
    <%= render partial: "shared/location", locals: {field: f, user_post: @user}%>

<%= f.submit "Update" %>

<% end %>