<%=render partial: "shared/errors", locals: {user_post_errors: @user, message: "preventing account from being created"} %>

<br><br><br>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h3 class="card-title">Create your account below</h3><br><br>

    <%= form_for @user do |f| %>

      <b><%= f.label :username %></b><br>
      <%= f.text_field :username, :value => @user.username %>
      <br><br>

      <%= render partial: "form", locals: {field: f}%>

      <%= render partial: "shared/location", locals: {field: f, user_post: @user}%>

      <b><%= f.label :password %></b><br>
      <%= f.password_field :password %>
      <br><br>

      <b><%= f.label :password_confirmation %></b><br>
      <%= f.password_field :password_confirmation %>
      <br><br>

      <input type="submit" class="btn btn-primary" value="Create Account">

    <% end %>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>