<br>
<%= form_for @post do |f| %>

  <%= f.hidden_field :user_id %>

  <div class="container text-center">
    
    <b> Item Image(s) </b><br><br>
    <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <div class="inline-block">
            <%= image_tag image, width: "200px" %>
            <p><%= link_to "Delete Image", delete_image_path(image), method: :delete %></p>
          </div>
        <% end %>
    <% end %>
    <br><br><br>
    <div>
    <b><%= f.label 'Attach Images' %><br><br></b>
    <%= f.file_field :images, multiple: true %>
    </div>
  </div>

  <div class="container text-center">
    <div class="row row-cols-2">

      <div class="col">
        <b><%= f.label 'Item Name' %><br></b>
        <%= f.text_field :name %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label :price %><br></b>
        <%= f.number_field :price, step: 1.0 %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label 'Make and/or Manufacturer' %><br></b>
        <%= f.text_field :make_manufacturer %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label 'Model Name and/or Number' %><br></b>
        <%= f.text_field :model_number %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label 'Size/Dimesions' %><br></b>
        <%= f.text_field :size_dimensions %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label :condition %><br></b>
        <%= f.collection_select :condition, Post.conditions, :to_s, :to_s, include_blank: true%>
        <br><br>
      </div>

      <div class="col">
        <div "form-check">
          <b><%= f.label :categories %><br></b>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
          <br><br>
        </div>
      </div>

      <div class="col">
        <b><%= f.label :quantity %><br></b>
        <%= f.number_field :quantity, step: 1.0 %>
        <br><br>
      </div>

      <div class="col">
        <b><%= f.label :description %><br></b>
        <%= f.text_area :description, size: "70x5" %>
        <br><br><br>
      </div>

      <div class="col">
        <%= render partial: "shared/location", locals: {field: f, user_post: @post}%>
      </div>

    </div>
  </div>

  <div class="container form-check form-switch">
    <b> Contact Details </b><br><br>
    <label class="form-check-label" for="show_email">Display email to public</label>
    <input class="form-check-input" type="checkbox" role="switch" name="show_email" value="true" id="show_email"><br>
    <label class="form-check-label" for="show_phone">Display phone number to public</label>
    <input class="form-check-input" type="checkbox" role="switch" name="show_phone" value="true" id="show_phone"><br>
    <label class="form-check-label" for="phone_calls">Phone calls</label>
    <input class="form-check-input" type="checkbox" role="switch" name="phone_calls" value="true" id="phone_calls"><br>
    <label class="form-check-label" for="phone_texts">Phone texts</label>
    <input class="form-check-input" type="checkbox" role="switch" name="phone_texts" value="true" id="phone_texts"><br>
  </div>

  <div class="d-grid gap-2 col-1 mx-auto">
    <input type="submit" class="btn btn-primary btn-lg" value=<%=button%>>
  </div>

<% end %>
<br><br><br><br>