<br>
<div class="container text-end">
<%if logged_in?%>
    <%if !current_user.posts.include?(@post) %>
        <%if @favorite.nil? %>
            <%= button_to "Favorite", favorites_path, params: {favorite: {post_id: @post.id}}, method: "post" %>
        <% else %>
            <%= button_to "Unfavorite", favorite_path(@favorite), method: "delete" %>
        <% end %>
    <%end%>
    <br>
    <p><%= @post.favorites.count %> favorite(s) for this post </p><br>
<%end%>
</div>

<div class="container text-center">
    <div class="fs-2">
        <b> Showing Item page for: <%=@post.name%> </b>
        <br><br>
    </div>

    <b> Item Image(s) </b><br><br>

    <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
            <div class="inline-block">
            <%= image_tag image, width: "200px" %>
            </div>
        <% end %>
    <% end %>
    <br><br><br>
    
   
    <div class="row row-cols-1">
        <span class="border border-primary">
            <div class="col">
                <b>Description: </b><br><%= @post.description %><br>
                <br>
            </div>
        </span>
    </div>

    <div class="row row-cols-2">
        <span class="border border-primary">
            <div class="col">
                <b>Price: </b><br><%= "$ #{@post.price}" %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Location: </b><br><%= "#{@post.location.city}, #{@post.location.state}" %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Condition: </b><br><%= "#{@post.condition}" %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Make and/or Manufacturer: </b><br><%= @post.make_manufacturer %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Quantity: </b><br><%= @post.quantity %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Size/dimesions: </b><br><%= @post.size_dimensions %><br>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Categories: </b><br>
                <% @post.categories.each do |category| %>
                    <%= category.name %><br>
                <% end %>
                <br>
            </div>
        </span>

        <span class="border border-primary">
            <div class="col">
                <b>Model name and/or number: </b><br><%= @post.model_number %><br>
                <br>
            </div>
        </span>
    </div>
</div>

<div class="container">
    <br><br>
    <b> Contact Details: </b><br><br>
    <b>Posted by:</b> <%= @post.user.username %><br>
    <b>Email:</b> <%= @post.user.email if @post.show_email == true %><br>
    <b>Phone:</b> <%= @post.user.phone_number if @post.show_phone == true %><br>
    <b> Phone calls: </b> <%= @post.phone_calls == true ? "Yes" : "No"  %><br>
    <b> Phone texts: </b> <%= @post.phone_texts == true ? "Yes" : "No"  %><br><br>
    <p><%=link_to "View more posts from this user", user_posts_path(@post.user)%></p>
</div>

<br><br><br><br>