<!DOCTYPE html>
<html>

  <head>
    <title>SellYourStuffApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if logged_in? %>
      <%= render 'layouts/logged_in_nav' %>
    <% else %>
      <%= render 'layouts/logged_out_nav' %>
    <% end %>
  </header>

  <body>
  
  <br><br><br>
  <div class="container-fluid text-primary">
  <% if logged_in? %>
    <b> logged in as: <%=current_user.username%> </b>
  <% end %>
  </div>

  <%if flash[:notice]%>
    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    <% elsif flash[:alert]%>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
  <%end %>

  

    <%= yield %>
    

  </body>

</html>
